
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .card {
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #444;
}

.dark-mode input,
.dark-mode select {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}

.dark-mode .chart-container {
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 15px;
    border-radius: 10px;
}

.dark-mode h3, 
.dark-mode p, 
.dark-mode label {
    color: #ffffff;
}

body:not(.dark-mode) h3, 
body:not(.dark-mode) p, 
body:not(.dark-mode) label {
    color: #000000;
}
